.main-btn {
  background-color: #45cd9714;
  color: #344863;
  padding: 8px;
  border-radius: 8px;
  min-width: fit-content;
  min-height: 55px;
  transition: opacity 0.3s ease-in;
  width: max-content;

  &:hover {
    opacity: 0.8;
  }
}

.secondary-btn {
  padding: 8px 24px;
  background-color: #3d8f8ae3;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  border: 1px solid #3d8f8ae3;
  transition: background-color 0.3s ease-in;
  min-width: fit-content;
  min-height: 55px;
  &:hover {
    color: #3d8f8ae3;
    background-color: transparent;
  }
}
