.slider-arrows {
  &__btn {
    height: 50px;
    width: 50px;
    color: #78a28f;
    background: #000;
    background-color: rgba(69, 205, 151, 0.0784313725);
    padding: 8px;
    border-radius: 8px;
    &:disabled {
      background-color: rgb(171 175 173 / 8%);
      color: #a8b1c1;
      cursor: not-allowed;
    }
  }
}
